<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite">
    <listeners>
        <listener class-name="org.test_automation.Listener.AllTestListener" />
    </listeners>

    <test name="LoginTests">
        <classes>
            <class name="org.test_automation.LoginUtil.LoginAndLocationTest"></class>
        </classes>
    </test>
</suite>