<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite" parallel="false">
    <listeners>
        <listener class-name="org.test_automation.Listener.AllTestListener" />
    </listeners>

    <test name="LoginTests">
        <classes>
            <class name="org.test_automation.PharmacyMaster.BrandTestScenario"></class>

        </classes>
    </test>
</suite>